<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por pais</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder1="Buscar Pais..."></app-pais-input>
        </div>
    </div>
</div>
<ul class="list-group">
    <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="[ '/pais', pais.alpha2Code ]">{{pais.name}}</a>
    </li>
    <li *ngIf="termino.length > 0" class="list-group-item list-group-item-action">
        <a class="nav-link" (click)="buscar(termino)"> Buscar: "{{termino}}"</a>
    </li>
</ul>

<hr>
<div *ngIf="hayError" class="alert alert-danger">No se encontró nada con la busqueda ingresada {{termino}}</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paisesInput]="paises"></app-pais-tabla>
    </div>
</div>